# OPEN PRICES 
 - Here we all use the open prices dataset.
 - we will use sorting, indexing , and loading data then , we will use the discount cycles ,season pattern m trend , and more

In [10]:
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv("./open_prices.csv", encoding='latin1')


df.head()

/var/folders/st/r78_rxtx0hd_yr_r8qtl08_c0000gn/T/ipykernel_40980/4037195694.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./open_prices.csv", encoding='latin1')

,id,type,product_code,product_name,category_tag,labels_tags,origins_tags,price,price_is_discounted,price_without_discount,...,location_osm_address_postcode,location_osm_address_city,location_osm_address_country,location_osm_address_country_code,location_osm_lat,location_osm_lon,location_website_url,location_source,location_created,location_updated
0,42629,PRODUCT,3560070283484.0,NaN,NaN,NaN,NaN,1.25,False,NaN,...,75012,Paris,France,FR,48.84850,2.370951,NaN,NaN,2024-01-16 18:29:47.461589+00:00,2024-08-25 13:41:04.572275+00:00
1,42630,PRODUCT,3560070206469.0,NaN,NaN,NaN,NaN,1.99,False,NaN,...,75012,Paris,France,FR,48.84850,2.370951,NaN,NaN,2024-01-16 18:29:47.461589+00:00,2024-08-25 13:41:04.572275+00:00
2,39637,PRODUCT,3123930711758.0,NaN,NaN,NaN,NaN,3.60,False,NaN,...,17470,Aulnay,France,FR,46.03147,-0.347739,NaN,NaN,2024-10-19 08:12:54.613170+00:00,2024-10-19 08:12:55.036233+00:00
3,39573,PRODUCT,3500390010247.0,NaN,NaN,NaN,NaN,19.95,False,NaN,...,38100,Grenoble,France,FR,45.17695,5.728508,NaN,NaN,2023-12-24 10:09:56.269605+00:00,2024-09-01 10:44:35.488131+00:00
4,33784,PRODUCT,8033976484743.0,NaN,NaN,NaN,NaN,2.99,False,NaN,...,91026,Mazara del Vallo,Italia,IT,37.65375,12.603567,NaN,NaN,2024-08-26 13:54:56.009100+00:00,2024-08-26 17:59:56.261823+00:00

### Selecting & Filtering Data
- we will remove the data that we do not need

In [11]:
cols = [
    "category_tag", "labels_tag", "origin_tag",
    "location_osm_id", "location_id",
    "proof_id", "receipt_quantity", "owner",
    "proof_file_path", "proof_mimetype", "proof_currency",
    "proof_receipt_price_count", "proof_receipt_price_total",
    "proof_owner", "proof_source",
    "proof_created", "proof_updated",
    "location_osm_address_country_code",
    "location_osm_lat", "location_osm_lon",
    "location_name", "location_address", "location_city",
    "location_postcode", "location_state",
    "location_country_code", "location_lat", "location_lon",
    "location_tags", "location_source",
    "location_owner", "location_created", "location_updated",
    "location_website_url"
]

df = df.drop(columns=cols, )
df.head()

,id,type,product_code,product_name,labels_tags,origins_tags,price,price_is_discounted,price_without_discount,discount_type,...,updated,proof_type,proof_date,location_type,location_osm_display_name,location_osm_tag_key,location_osm_tag_value,location_osm_address_postcode,location_osm_address_city,location_osm_address_country
0,42629,PRODUCT,3560070283484.0,NaN,NaN,NaN,1.25,False,NaN,NaN,...,2025-09-09 10:24:56.919108+00:00,RECEIPT,2024-10-28,OSM,"Carrefour Market, 37, Rue de Lyon, Quartier de...",shop,supermarket,75012,Paris,France
1,42630,PRODUCT,3560070206469.0,NaN,NaN,NaN,1.99,False,NaN,NaN,...,2025-09-09 10:24:56.962124+00:00,RECEIPT,2024-10-28,OSM,"Carrefour Market, 37, Rue de Lyon, Quartier de...",shop,supermarket,75012,Paris,France
2,39637,PRODUCT,3123930711758.0,NaN,NaN,NaN,3.60,False,NaN,NaN,...,2025-09-09 10:25:19.990971+00:00,PRICE_TAG,2024-10-19,OSM,"IntermarchÃ©, Rue des Grands Vents, Zone d'act...",shop,supermarket,17470,Aulnay,France
3,39573,PRODUCT,3500390010247.0,NaN,NaN,NaN,19.95,False,NaN,NaN,...,2025-09-09 10:26:02.328383+00:00,PRICE_TAG,2024-10-18,OSM,"Super U, Rue Ãdouard Vaillant, Capuche, Secte...",shop,supermarket,38100,Grenoble,France
4,33784,PRODUCT,8033976484743.0,NaN,NaN,NaN,2.99,False,NaN,NaN,...,2025-09-09 09:28:10.019273+00:00,RECEIPT,2024-09-10,OSM,"DecÃ², 29, Viale Val Demone, Gorgorosso, Mazar...",shop,supermarket,91026,Mazara del Vallo,Italia